{% block head %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/chat.css') }}" />
{% endblock %}
{% block scripts %}<script src="{{ url_for('static', filename='js/chat.js') }}"></script>{% endblock %}
